<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Title Page-->
    <title>customers</title>

    <!-- Icons font CSS-->
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/main1.css" rel="stylesheet" media="all">
</head>
<nav style="color:white; font-family:cursive; font-weight:bold; font-size:20px; background-color:black"><div><a style="float:left; font-color:white;" href="/home">Home</a><a style="float:right; font-color:white;" href="/logout">Logout</a><h1 align="center">Testa <span style="color:green;">Restraunt</span></h1></div></nav>
      <form class="example" action="/search_customer" style="margin:auto;max-width:300px" method="post">
  <input type="text" placeholder="Search customer by name.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<body>

    <div class="page-wrapper  p-t-100 p-b-100 font-robo" style="background-image: url('/img/view.jpg'); background-size: cover; background-attachment: fixed;">
  
        
        <div class="wrapper wrapper--w680">
            <div style="overflow:scroll; height:800px; width:auto; background-color:white;">
                <div class="card-heading"><h2 style="color:red;">{{message}}</h2></div>
                <div class="card-body" style="border-radius:3px;">
                    <table border="1px solid black" style="padding:30px;">
                        <tr>
                        <th>Name</th>
                        <th>mobile</th>
                        <th>gender</th>
                        <th>items</th>
                        <th>price</th>
                        <th>tip</th>
                        <th>payment mode</th>
                        <th>Address</th>
                        </tr>
                        {{#each customer  }}
                         <tr>
                             <td>{{this.name}}</td>
                             <td>{{this.mobile}}</td>
                             <td>{{this.gender}}</td>
                             <td>{{this.items}}</td>
                             <td>{{this.price}}</td>
                             <td>{{this.tip}}</td>
                             <td>{{this.pay_mode}}</td>
                             <td>{{this.address}}</td>
                             
                         </tr>
                         {{/each}}
                    </table>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/datepicker/moment.min.js"></script>
    <script src="/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="/js/global.js"></script>
    <style>
        th{
            padding:30px;
            padding-top:0px;
            padding-bottom:0px;
            color:white;
            background-color: gray;
            margin-bottom: 7px;
        }
        td{
            padding-top:10px;
            padding-left:9px;
        }
      body{
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: cover;
      }
      * {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: black;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}


  </style>
    

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
